
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/


venv/
.env/
.venv/
ENV/
env/


.ipynb_checkpoints

*.h5
*.pt
*.pth
*.joblib
*.ckpt
*.tflite


.vscode/


.DS_Store


*.log


.streamlit/secrets.toml


Thumbs.db
ehthumbs.db

*.part