# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env/
.venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Model files and large data
*.h5
*.pt
*.pth
*.pkl
*.joblib
*.ckpt
*.tflite

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Streamlit secrets (keep your keys safe!)
.streamlit/secrets.toml

# System files
Thumbs.db
ehthumbs.db
